<a href="https://colab.research.google.com/github/liberato10/PandasSlicing/blob/main/PandasSlicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive

drive.mount('/content/drive')
import pandas as pd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [10]:
# Keep in mind that the filename will likely be different on your computer (especially later in course)

filename = '/content/bostonHousing1978 (3).csv'
df = pd.read_csv(filename)

df

        RM  LSTAT  PTRATIO  target
0    6.575   4.98     15.3    24.0
1    6.421   9.14     17.8    21.6
2    7.185   4.03     17.8    34.7
3    6.998   2.94     18.7    33.4
4    7.147   5.33     18.7    36.2
..     ...    ...      ...     ...
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

[506 rows x 4 columns]

In [11]:
# Select one column using double brackets

df[['RM']].head()

      RM
0  6.575
1  6.421
2  7.185
3  6.998
4  7.147

In [13]:
# This is a Pandas DataFrame

df[['RM', 'LSTAT', 'PTRATIO', 'target']].tail()

        RM  LSTAT  PTRATIO  target
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

In [14]:
# Select one column using single brackets

# This produces a pandas series which is a one-dimensional array of indexed data

df['RM'].head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

In [16]:
# This is a pandas series

type(df['RM'].head())

pandas.core.series.Series

In [21]:
# Keep in mind that you can't select multiple colums using single brackets

# This will result in a KeyError
df['RM']

0      6.575
1      6.421
2      7.185
3      6.998
4      7.147
       ...
501    6.593
502    6.120
503    6.976
504    6.794
505    6.030
Name: RM, Length: 506, dtype: float64

In [22]:
# Keep in mind that you can't select multiple colums using single brackets

# This will result in a KeyError
df['RM'][0:10]

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
5    6.430
6    6.012
7    6.172
8    5.631
9    6.004
Name: RM, dtype: float64

In [23]:
# Select column using dot notation.

# This is not recommended.

df.RM.head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64

In [24]:
# pandas dataframe

df.loc[:, ['RM']].head()

      RM
0  6.575
1  6.421
2  7.185
3  6.998
4  7.147

In [25]:
# pandas series

df.loc[:, 'RM'].head()

0    6.575
1    6.421
2    7.185
3    6.998
4    7.147
Name: RM, dtype: float64